<div class="py-14 background h-screen">
    <p class="text-center text-4xl font-bold my-4">Clientes Registrados</p>
    <div class="flex justify-center font-sans">
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded-lg shadow-lg my-6">
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 cursor-default uppercase text-sm ">
                            <th class="py-3 px-6 text-left">Id</th>
                            <th class="py-3 px-6 text-left">Nombre</th>
                            <th class="py-3 px-6 text-left">Apellido</th>
                            <th class="py-3 px-6 text-left">Telefono</th>
                            <th class="py-3 px-6 text-left">CUI</th>
                            <th class="py-3 px-6 text-left">NIT</th>
                            <th class="py-3 px-6 text-left">Direccion</th>
                            <th class="py-3 px-6 text-center">Fecha de Nacimiento</th>
                            <th class="py-3 px-6 text-center">Fecha de Ingreso</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <tr *ngFor="let cliente of clientes" class="border-b border-gray-200 hover:bg-blue-50">
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <span class="font-medium">{{cliente.id}}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <div class="">
                                        <span>{{cliente.nombre}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <div class="">
                                        <span>{{cliente.apellido}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <div class="">
                                        <span>{{cliente.telefono}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <div class="">
                                        <span>{{cliente.cui}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <div class="">
                                        <span>{{cliente.nit}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <div class="">
                                        <span>{{cliente.direccion}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <span>{{cliente.fecha_nacimiento}}</span>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <span>{{cliente.fecha_ingreso}}</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="flex justify-center my-10">
        <div class="mx-10">
            <button id="btn1" (click)="volver()"
                class="border border-gray-300 w-48 py-2 rounded text-2xl hover:bg-blue-300 hover:shadow-lg transition duration-500">Volver</button>
        </div>
        <div class="mx-10">
            <button id="btn2" (click)="cambiarFlag()"
                class="border border-gray-300 w-48 py-2 rounded text-2xl hover:bg-blue-300 hover:shadow-lg transition duration-500">Imprimir</button>
        </div>
    </div>
</div>